@model IEnumerable<portfolio_career_development.Models.Article>
@{
    ViewBag.Title = "Home";
}


<header class="masthead bg-success  text-white text-center index-page-background" style="min-width: 100vh; min-height: 85vh;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/Content/Images/prof.png" alt="" />
        <!-- Masthead Heading-->
        <br/><br/><br/><br/>
        <h1 class="masthead-heading text-uppercase mb-0">career development</h1>
        <!-- Icon Divider-->
        <br/><br/>
        <!-- Masthead Subheading-->
        <h4 class="masthead-subheading font-weight-light mb-0">Boost Your Career Today !</h4>
    </div>
</header>

