@model IEnumerable<portfolio_career_development.Models.Article>
@{
    ViewBag.Title = "Home";
}

<div class="mt-5 my-5 pt-3 py-3 mr-0 mx-0">

    <header class="masthead bg-primary text-white text-center" style="min-width: 100%; min-height: 100%;">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="~/Content/Images/prof.png" alt="" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">career development</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Boost Your Career Today !</p>
        </div>
    </header>

</div>



