@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, 
        new { id = "logoutForm", @class = "navbar-nav ml-auto nav navbar-nav navbar-right navbar-nav-custom-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav ml-auto ">
        <li class="nav-item ml-4 mx-4 mr-4">

            @Html.ActionLink("Profile", "Index", "Manage", null,
                new {title = "Manage", @class = "nav-link  rounded js-scroll-trigger" }
                )
        </li>
        <li class="nav-item ml-3 mx-3 mr-3">
            <a class="nav-link   rounded js-scroll-trigger"
               href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class=" navbar-nav ml-auto navbar-nav-custom-right ">
        <li class="nav-item mx-0 mx-lg-1">
            @Html.ActionLink("Register", "Register", "Account", null,
                     new {id = "registerLink", @class = "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"})
        </li>
        <li class="nav-item mx-0 mx-lg-1">
            @Html.ActionLink("Log in", "Login", "Account", null,
                     new {id = "loginLink", @class = "nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"})
        </li>
    </ul>
}
